/* sass --watch src/styles/theme.scss:src/styles/theme.css src/styles/style.scss:src/styles/style.css src/styles/ghibli.scss:src/styles/ghibli.css */
/*
====================================================================================================================
LIGHT GRADIENTS
====================================================================================================================
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

background-color: #DCD9D4; 
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
 background-blend-mode: soft-light,screen;

background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

====================================================================================================================
DARK GRADIENTS
====================================================================================================================
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;

background-image: linear-gradient(to right, #434343 0%, black 100%);

background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);

background: #bdc3c7;
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
background: linear-gradient(to right, #2c3e50, #bdc3c7); 

background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 

*/
body {
  margin: 0;
  height: 100vh;
  background-image: url(../img/light2.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  margin: 0 0 80px 0;
  font-size: 4rem;
}

a {
  text-decoration: unset;
  color: unset;
}

a:hover {
  color: #52A5A8;
  font-weight: 600;
}

.angled-div, .gradient-grey, .gradient-blue {
  transform: skewY(-10deg);
  padding-top: 200px;
}

.angled-span, .span-grey, .span-blue {
  width: 120%;
  height: 200px;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 30px;
  margin: 15px auto 15px 40px;
}

.nav-list {
  margin-right: 50px;
}

.nav-list li {
  float: left;
  list-style: none;
  margin: 0px 30px;
  color: #BBBEBE;
  font-family: "Spartan", sans-serif;
}

.vp-size-div {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-image {
  width: 100px;
  height: 100px;
  padding-bottom: 25px;
  display: block;
  margin: auto;
}

#name-header {
  font-family: "Montserrat", sans-serif;
  color: #BBBEBE;
  font-size: 1.6rem;
  letter-spacing: 4px;
  text-align: center;
}

.glass {
  background-color: rgba(255, 255, 255, 0.025);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 13px;
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.275);
}

.glass::after {
  content: "";
  background-image: url(../img/grain.png);
  background-size: 75%;
  border-radius: 13px;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.gradient-blue {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.span-blue {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

#about {
  padding: 10% 20%;
  transform: skewY(10deg);
}
#about p {
  color: #BBBEBE;
  font-family: "Spartan", sans-serif;
  font-size: 1.2rem;
  margin: 30px;
}

.profile-picture {
  float: left;
  border-radius: 20%;
  margin-right: 50px;
}

.gradient-grey {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #111);
  background: linear-gradient(to right, #434343, #111);
}

.span-grey {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000);
  background: linear-gradient(to right, #434343, #000);
}

.scroll-arrows {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 20px;
}

.scroll-down, .scroll-down2 {
  position: relative;
  bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #BBBEBE;
  border-right: 2px solid #BBBEBE;
  z-index: 9;
  right: 9px;
  bottom: 55px;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
}

.scroll-down2 {
  bottom: 80px;
  -webkit-animation: fade_move_down2 2s ease-in-out infinite;
  -moz-animation: fade_move_down2 2s ease-in-out infinite;
  animation: fade_move_down2 2s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down2 {
  0% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
  15% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 12px) rotate(45deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
