/* sass --watch src/styles/theme.scss:src/styles/theme.css src/styles/style.scss:src/styles/style.css src/styles/ghibli.scss:src/styles/ghibli.css */

// Colors
$light-green: #86C238;
$dark-green: #619130;
$light-grey: #6B7171;
$mid-grey: #474E51;
$dark-grey: #222B26;
$snow: #BBBEBE;
$header-black: #181413;
$dark-blue: #419371;
$light-blue: #52A5A8;

// Fonts
$spartan: "Spartan", sans-serif;
$montserrat: "Montserrat", sans-serif;